In [1]:
#import the vevesta Library
from vevestaX import vevesta as v
V=v.Experiment()

In [2]:
#read the dataset
import pandas as pd
df=pd.read_csv("salaries.csv")
df.head(2)

  company              job     degree  salary_more_then_100k
0  google  sales executive  bachelors                      0
1  google  sales executive    masters                      0

In [3]:
#Extract the columns names for features
V.ds=df

# you can also use:
#   V.datasourcing = df

In [4]:
#Print the feature being used
V.ds

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

In [5]:
# Do some feature engineering
df["age"]=50
df['gender']='F'

In [6]:
#Extract features engineered
V.fe=df

# you can also use:
#  V.featureEngineering = df

In [7]:
#Print the features engineered
V.fe

Index(['age', 'gender'], dtype='object')

In [8]:
#Track variables which have been used for modelling
V.start()

# you can also use:
#  V.startModelling()

In [9]:
# All the varibales mentioned here will be tracked
epochs=150
seed=3
loss='rmse'
accuracy= 98.9

In [10]:
#end tracking of variables
V.end()

# you can also use V.endModelling()

{'epochs': 150, 'seed': 3, 'loss': 'rmse', 'accuracy': 98.9}

In [11]:
# Dump the datasourcing, features engineered and the variables tracked in a xlsx file
V.dump(techniqueUsed='XGBoost',filename="vevestaDump.xlsx",message="no values",version=1)

#if filename is not mentioned, then by default the data will be dumped to vevesta.xlsx file

Dumped the experiment in the file vevestaDump.xlsx
Track evolution of Data Science projects at www.vevesta.com for free.

After using V.dump four sheets will be created in the mentioned xlsx file.
The four sheets will contain following details:

Sheet1: Data Sourcing

Sheet2: Features Engineered

Sheet3: Data Modelling

Sheet4: Message

In [12]:
#Sheet 1 for datasourcing
data_ds=pd.read_excel("vevestaDump.xlsx",'dataSourcing')
data_ds

   experimentID  company  job  degree  salary_more_then_100k
0             1        1    1       1                      1
1             2        1    1       1                      1

In [13]:
#Sheet 1 for featuresEngineered
data_fe=pd.read_excel("vevestaDump.xlsx",'featureEngineering')
data_fe

   experimentID  age  gender
0             1    1       1
1             2    1       1

In [14]:
#Sheet 1 for dataModelling
data_mod=pd.read_excel("vevestaDump.xlsx",'modelling')
data_mod

,experimentID,features,timestamp in UTC,epochs,seed,loss,accuracy
0,1,"company,job,degree,salary_more_then_100k,age,g...",2021-11-17T10:51:16.019857,100,3,rmse,98.5
1,2,"company,job,degree,salary_more_then_100k,age,g...",2021-11-17T10:54:09.099822,150,3,rmse,98.9

In [15]:
#Sheet 1 for message
data_msg=pd.read_excel("vevestaDump.xlsx",'messages')
data_msg

,experimentID,techniqueUsed,message,version,filename,timestamp in UTC
0,1,XGBoost,no values,1,sampleExperiment.ipynb,2021-11-17T10:52:49.856796
1,2,XGBoost,no values,1,sampleExperiment.ipynb,2021-11-17T10:55:42.794129